{% extends 'header.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="blog-page">
    <div class="contact-title">
        <h1>{% trans "BLOG" %}</h1>
        <p>{% trans "Looking for valuable insights? Explore our must-read articles!" %}</p>
    </div>
    <div class="blog-container">
        <div class="blog-grid">
            {% for post in posts %}
            <div class="blog-card">
                <div class="blog-image">
                    <img src="{{ post.image.url }}" alt="blog-image">
                </div>
                <div class="blog-content">
                    <h2><i class="fa-regular fa-calendar" style="margin-right: 5px;"></i>{{ post.created_at|date:"F j, Y" }}</h2>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description }}</p>
                    <div class="tags">
                        {% for tag in post.tags.all %}
                            <a href="{% url 'blog' %}?tag={{ tag.slug }}" class="tag {% if tag.slug == selected_tag %}active-tag{% endif %}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    <a href="{% url 'blog-detail' post.id %}" class="btn btn-primary">{% trans "Read More" %}</a>
                </div>
            </div>
            {% if not forloop.last %}
            <hr>
            {% endif %}
            {% endfor %}

            <!-- Pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1{% if tag %}&tag={{ tag }}{% endif %}">{% trans "First" %}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if tag %}&tag={{ tag }}{% endif %}">{% trans "Previous" %}</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">{% trans "First" %}</span></li>
                        <li class="page-item disabled"><span class="page-link">{% trans "Previous" %}</span></li>
                    {% endif %}
                    
                    <li class="page-item"><span class="page-link">
                        {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                    </span></li>
                    
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if tag %}&tag={{ tag }}{% endif %}">{% trans "Next" %}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if tag %}&tag={{ tag }}{% endif %}">{% trans "Last" %}</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">{% trans "Next" %}</span></li>
                        <li class="page-item disabled"><span class="page-link">{% trans "Last" %}</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="tag-sidebar">
            <h3>{% trans "Tags" %}</h3>
            <ul class="tag-list">
                {% for tag in all_tags %}
                    <li>
                        <a href="{% url 'blog' %}?tag={{ tag.slug }}" class="{% if tag.slug == selected_tag %}active-tag{% endif %}">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
