{% extends 'header.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="checkout-realpage">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Returning User?</strong> <a class="returning-user" href="{% url 'login' %}">Click here to login.</a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="checkout-realoptions">
        <div class="option-item {% if current_step == 'billing' %}activates{% endif %}" id="billing-option">
            <p class="checkout-realoptions-no {% if current_step == 'billing' %}activated{% endif %}">1</p>
            <p>Billing <span class="cut-checkoutoption"> Details</span></p>
        </div>
        <div class="option-item {% if current_step == 'shipping' %}activates{% endif %}" id="shipping-option">
            <p class="checkout-realoptions-no {% if current_step == 'shipping' %}activated{% endif %}">2</p>
            <p>Shipping <span class="cut-checkoutoption">Address</span></p>
        </div>
        <div class="option-item {% if current_step == 'review' %}activates{% endif %}" id="review-option">
            <p class="checkout-realoptions-no {% if current_step == 'review' %}activated{% endif %}">3</p>
            <p><span class="cut-checkoutoption">Review </span>Order</p>
        </div>
    </div>

    <div class="checkout-realform" id="billing-form" {% if current_step != 'billing' %}style="display: none;"{% endif %}>
        <div>
            <h4>Billing details</h4>
        </div>

        <form method="post" action="{% url 'checkout' %}" class="checkout-actualform" novalidate>
            {% csrf_token %}
            <div class="form-left">
                <div class="name-div-checkout">
                    <div class="form-group">
                        <label for="{{ billing_form.billing_first_name.id_for_label }}">FIRST NAME*</label>
                        {{ billing_form.billing_first_name }}
                        {% if billing_form.billing_first_name.errors %}
                            <div class="error-message">
                                {{ billing_form.billing_first_name.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ billing_form.billing_last_name.id_for_label }}">LAST NAME*</label>
                        {{ billing_form.billing_last_name }}
                        {% if billing_form.billing_last_name.errors %}
                            <div class="error-message">
                                {{ billing_form.billing_last_name.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="{{ billing_form.billing_company_name.id_for_label }}">COMPANY NAME(Optional)</label>
                    {{ billing_form.billing_company_name }}
                    {% if billing_form.billing_company_name.errors %}
                        <div class="error-message">
                            {{ billing_form.billing_company_name.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="{{ billing_form.billing_phone_number.id_for_label }}">PHONE NUMBER*</label>
                    {{ billing_form.billing_phone_number }}
                    {% if billing_form.billing_phone_number.errors %}
                        <div class="error-message">
                            {{ billing_form.billing_phone_number.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
        
                <div class="form-group">
                    <label for="{{ billing_form.email.id_for_label }}">EMAIL*</label>
                    {{ billing_form.email }}
                    {% if billing_form.email.errors %}
                        <div class="error-message">
                            {{ billing_form.email.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ billing_form.billing_country.id_for_label }}">COUNTRY</label>
                    {{ billing_form.billing_country }}
                    {% if billing_form.billing_country.errors %}
                        <div class="error-message">
                            {{ billing_form.billing_country.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="form-right">
                <div class="form-group">
                    <label for="{{ billing_form.billing_town_city.id_for_label }}">TOWN/CITY</label>
                    {{ billing_form.billing_town_city }}
                    {% if billing_form.billing_town_city.errors %}
                        <div class="error-message">
                            {{ billing_form.billing_town_city.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="{{ billing_form.billing_state.id_for_label }}">STATE</label>
                    {{ billing_form.billing_state }}
                    {% if billing_form.billing_state.errors %}
                        <div class="error-message">
                            {{ billing_form.billing_state.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
        
                <div class="form-group">
                    <label for="{{ billing_form.billing_zipcode.id_for_label }}">ZIPCODE</label>
                    {{ billing_form.billing_zipcode }}
                    {% if billing_form.billing_zipcode.errors %}
                        <div class="error-message">
                            {{ billing_form.billing_zipcode.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
        
                <div class="form-group">
                    <label for="{{ billing_form.billing_street_address.id_for_label }}">STREET ADDRESS</label>
                    {{ billing_form.billing_street_address }}
                    {% if billing_form.billing_street_address.errors %}
                        <div class="error-message">
                            {{ billing_form.billing_street_address.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
        
                <div class="form-group-orderlabel">
                    <label for="{{ billing_form.order_note.id_for_label }}">ORDER NOTE (Optional)</label>
                    {{ billing_form.order_note }}
                    {% if billing_form.order_note.errors %}
                        <div class="error-message">
                            {{ billing_form.order_note.errors|join:", " }}
                        </div>
                    {% endif %}
                </div>
        
            </div>
            <div class="continue-realcheckout">
                <div class="form-gro">
                    <label for="{{ billing_form.create_account.id_for_label }}">{{ billing_form.create_account.label }}</label>
                    {{ billing_form.create_account }}
                    {% if billing_form.create_account.errors %}
                        <div class="error-message">{{ billing_form.create_account.errors }}</div>
                    {% endif %}
                </div>
            
                <button type="submit" name="billing-continue" class="btn btn-primary">Continue</button>
            </div>
        </form>
    </div>

    <div class="checkout-realform" id="shipping-form" {% if current_step != 'shipping' %}style="display: none;"{% endif %}>
        <div>
            <h4>Shipping details</h4>
        </div>
        <form method="post" action="{% url 'checkout' %}" class="checkout-actualform" novalidate>
            {% csrf_token %}
            <div class="form-left form-shipping-left">
                <div class="form-group dif-address">
                    <input type="checkbox" id="dif-address-checkbox" name="ship_to_different_address">
                    <label for="dif-address-checkbox">Ship to a different Address?</label>
                </div>
                <div class="name-div-checkout" id="shipping-fields">
                    <div class="form-group">
                        <label for="{{ shipping_form.shipping_first_name.id_for_label }}">FIRST NAME*</label>
                        {{ shipping_form.shipping_first_name }}
                        {% if shipping_form.shipping_first_name.errors %}
                            <div class="error-message">
                                {{ shipping_form.shipping_first_name.errors|join:", " }}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        <label for="{{ shipping_form.shipping_last_name.id_for_label }}">LAST NAME*</label>
                        {{ shipping_form.shipping_last_name }}
                        {% if shipping_form.shipping_last_name.errors %}
                            <div class="error-message">{{ shipping_form.shipping_last_name.errors|join:", " }}</div>
                        {% endif %}
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="{{ shipping_form.shipping_company_name.id_for_label }}">COMPANY NAME (Optional)</label>
                    {{ shipping_form.shipping_company_name }}
                    {% if shipping_form.shipping_company_name.errors %}
                        <div class="error-message">{{ shipping_form.shipping_company_name.errors|join:", " }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="{{ shipping_form.shipping_phone_number.id_for_label }}">PHONE NUMBER*</label>
                    {{ shipping_form.shipping_phone_number }}
                    {% if shipping_form.shipping_phone_number.errors %}
                        <div class="error-message">{{ shipping_form.shipping_phone_number.errors|join:", " }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="form-right">
                <div class="form-group">
                    <label for="{{ shipping_form.shipping_country.id_for_label }}">COUNTRY</label>
                    {{ shipping_form.shipping_country }}
                    {% if shipping_form.shipping_country.errors %}
                        <div class="error-message">{{ shipping_form.shipping_country.errors|join:", " }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ shipping_form.shipping_town_city.id_for_label }}">TOWN/CITY</label>
                    {{ shipping_form.shipping_town_city }}
                    {% if shipping_form.shipping_town_city.errors %}
                        <div class="error-message">{{ shipping_form.shipping_town_city.errors|join:", " }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="{{ shipping_form.shipping_state.id_for_label }}">STATE</label>
                    {{ shipping_form.shipping_state }}
                    {% if shipping_form.shipping_state.errors %}
                        <div class="error-message">{{ shipping_form.shipping_state.errors|join:", " }}</div>
                    {% endif %}
                </div>
        
                <div class="form-group">
                    <label for="{{ shipping_form.shipping_zipcode.id_for_label }}">ZIPCODE</label>
                    {{ shipping_form.shipping_zipcode }}
                    {% if shipping_form.shipping_zipcode.errors %}
                        <div class="error-message">{{ shipping_form.shipping_zipcode.errors|join:", " }}</div>
                    {% endif %}
                </div>
        
                <div class="form-group">
                    <label for="{{ shipping_form.shipping_street_address.id_for_label }}">STREET ADDRESS</label>
                    {{ shipping_form.shipping_street_address }}
                    {% if shipping_form.shipping_street_address.errors %}
                        <div class="error-message">{{ shipping_form.shipping_street_address.errors|join:", " }}</div>
                    {% endif %}
                </div>
        
            </div>
            <div class="continue-realcheckout">
                <button type="submit" name="shipping-continue" class="btn btn-primary">Continue</button>
            </div>
        </form>
    </div>

    <div class="checkout-realform" id="review-form" {% if current_step != 'review' %}style="display: none;"{% endif %}>
        <div>
            <h4>Review your order</h4>
        </div>
        <div class="order-cart-review">
            <h5>Cart Totals</h5>
            <div>
                <p>Product</p>
                <p>Subtotal</p>
            </div>
            <div class="order-detail-csrt">
                {% for item_with_subtotal in cart_items_with_subtotal %}
                    <div>
                        <p>{{ item_with_subtotal.item.drug.name }} * {{ item_with_subtotal.item.quantity }}</p>
                        <p>${{ item_with_subtotal.subtotal }}</p>
                    </div>
                {% endfor %}
            </div>
            <div>
                <p>Subtotal</p>
                <p>${{ total }}</p>
            </div>
            <div>
                <p>Shipping</p>
                <p>Expedited shipping $00.00</p>
            </div>
            <div>
                <p>Total</p>
                <p>${{ total }}</p>
            </div>
        </div>
        <!-- Payment Method Section -->
        <div class="container-payment">
            <div class="payment-method">
                <form method="post" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    
                    <div class="form-payment">
                        <label class="radio-label">
                            <input type="radio" name="payment_method" value="paypal" required checked>
                            PayPal
                        </label>
                        <span class="tool-tip" id="paypal-tooltip">We will send you PayPal credentials after the checkout.</span>
                    </div>
                    <div class="form-payment">
                        <label class="radio-label">
                            <input type="radio" name="payment_method" value="crypto" required>
                            Crypto
                        </label>
                        <span class="tool-tip" id="crypto-tooltip" style="display: none;">Send funds to our Bitcoin, Ethereum, or USDT wallet.</span>
                    </div>
                    
                    <div>
                        <p>Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</p>
                        <div class="form-payment">
                            <label for="of_age">
                                <input type="checkbox" name="of_age" required>
                                I have read and agree to the terms and conditions and confirm that I'm 21 years of age or older. *
                            </label>
                        </div>
                    </div>
                    
                    <div class="continue-realcheckout">
                        <button type="submit" name="place-order" class="btn btn-primary">Place Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
