{% load static %}

<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="news-letter">
                <h4>Subscribe To Our Newsletter To Get Updates on Our Latest Offers!</h4>
                <div class="subcribe-news">
                    <input type="text" id="email" placeholder="Email address">
                    <button type="submit">Subscribe</button>
                </div>
                <h4>Download The eMedicStore App To Get Access To Exclusive Offers</h4>
                <div>
                    <a href="#"><img class="store" src="{% static 'images/google-play.png' %}" alt="play store logo"></a>
                    <a href="#"><img class="store" src="{% static 'images/app-store.png' %}" alt="app store logo"></a>
                </div>
                <div class="info-12">
                    <div>
                        <span><i class="fa-solid fa-location-dot"></i></span>
                        <p>Enugu,Nigeria</p>
                    </div>
                    <div>
                        <span><i class="fa-solid fa-phone"></i></span>
                        <p>+2348147250442</p>
                    </div>
                    <div>
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <p>divine@epharma.com</p>
                    </div>
                </div>
            </div>
            <div class="right-footer">
                <div class="footer-links">
                    <ul class="link123">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/services/">Services</a></li>
                        <li><a href="/contact/">Contact Us</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>Facebook</li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a>Twitter</li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a>Instagram</li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a>LinkedIn</li>
                    </ul>
                </div>            
                <div>
                    <ul>
                        <li>Send us a Message</li>
                        <li>Privacy Policy</li>
                        <li>Return Policy</li>
                        <li>Quality Policy</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Divine EPHARMA. All rights reserved.</p>
        </div>
    </div>
</footer>
