{% extends 'header.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="forgotpassword">
    <h2>{% trans "Forgot Password" %}</h2>
    <p>{% trans "Enter your Email" %}</p>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post" action="{% url 'forgot-password' %}" novalidate>
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email Address"><br>
        <button type="submit">{% trans "Request Password Change" %}</button>

    </form>

</div>

{% endblock %}