{% extends 'header.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <div class="login-block">
        <div class="login-content">
            <div class="login">
                <h3>Login</h3>
                <p>Let's bring the pharmacy to you</p>
            </div>
            <div class="form">
                <form action="">
                    <label for="username">Email </label><br>
                    <input type="text" id="email" name="email" style="margin-bottom: 20px;"><br>
                    <label for="password">Password </label><br>
                    <!-- <input type="password" id="password" name="password"><br> -->
                    <div class="password-container">
                        <input type="password" id="password" name="password"> 
                        <span class="toggle-password" onclick="togglePasswordVisibility()">
                            <i style="display: none; color: #0B63B2;" class="fas fa-eye"></i> <!-- Show icon -->
                            <i style="display: block; color: #0B63B2;" class="fas fa-eye-slash"></i> <!-- Hide icon -->
                        </span>
                    </div>
                    <button type="submit">Log in</button>
                </form>
            </div>
            <a class="forgot-password" href="#">Forgot Password?</a>
        </div>
    </div>
    <div class="vertical-line"></div>
    <div class="register-block">
        <div class="register-content">
            <div class="login">
                <h3>Create account</h3>
                <p>Create your eMedicstore customer account in just a few clicks! You can register either using your e-mail address or through your Facebook & Gmail account.</p>
            </div>
            <button>Create account</button>
        </div>
    </div>
</div>
{% endblock %}
