{% extends 'header.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="passwordreset">
  <h2>{% trans "Reset Password" %}</h2>
  <p>
    {% trans "Enter the OTP sent to your email" %} <br />
    {% trans "and you new password" %}
  </p>
  <div class="chakra-stack css-2gznzf" id="otp-inputs">
    <input
      type="text"
      maxlength="1"
      aria-label="Please enter your pin code"
      inputmode="text"
      class="chakra-pin-input css-17dn0h8"
      data-index="0"
      fdprocessedid="input0"
    />
    <input
      type="text"
      maxlength="1"
      aria-label="Please enter your pin code"
      inputmode="text"
      class="chakra-pin-input css-17dn0h8"
      data-index="1"
      fdprocessedid="input1"
    />
    <input
      type="text"
      maxlength="1"
      aria-label="Please enter your pin code"
      inputmode="text"
      class="chakra-pin-input css-17dn0h8"
      data-index="2"
      fdprocessedid="input2"
    />
    <input
      type="text"
      maxlength="1"
      aria-label="Please enter your pin code"
      inputmode="text"
      class="chakra-pin-input css-17dn0h8"
      data-index="3"
      fdprocessedid="input3"
    />
    <input
      type="text"
      maxlength="1"
      aria-label="Please enter your pin code"
      inputmode="text"
      class="chakra-pin-input css-17dn0h8"
      data-index="4"
      fdprocessedid="input4"
    />
    <input
      type="text"
      maxlength="1"
      aria-label="Please enter your pin code"
      inputmode="text"
      class="chakra-pin-input css-17dn0h8"
      data-index="5"
      fdprocessedid="input5"
    />
  </div>
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div class="message {{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <form
    method="post"
    action="{% url 'reset-password' %}"
    id="reset-form"
    novalidate
  >
    {% csrf_token %}
    <input type="hidden" name="token" id="hidden-token" />
    <input
      type="email"
      placeholder="New Password"
      name="password"
      required
    /><br />
    <button type="submit">{% trans "Request Password Change" %}</button>
  </form>
  <p>{% trans "Didn't get the OTP?" %}<a href="">{% trans "Resend OTP" %}</a></p>
</div>

{% endblock %}
