{% extends 'header.html' %}
{% load static %}

{% block content %}
<div class="passwordreset">
    <h2>Reset Password</h2>
    <p>Enter the OTP sent to your email <br> and you new password</p>
    <div class="chakra-stack css-2gznzf">
        <input type="text" aria-label="Please enter your pin code" inputmode="text" id="pin-input-5-0" value="" autocomplete="off" placeholder="○" class="chakra-pin-input css-17dn0h8" data-index="0" fdprocessedid="syx54">
        <input type="text" aria-label="Please enter your pin code" inputmode="text" id="pin-input-5-1" value="" autocomplete="off" placeholder="○" class="chakra-pin-input css-17dn0h8" data-index="1" fdprocessedid="nbpvm">
        <input type="text" aria-label="Please enter your pin code" inputmode="text" id="pin-input-5-2" value="" autocomplete="off" placeholder="○" class="chakra-pin-input css-17dn0h8" data-index="2" fdprocessedid="ck69m0j">
        <input type="text" aria-label="Please enter your pin code" inputmode="text" id="pin-input-5-3" value="" autocomplete="off" placeholder="○" class="chakra-pin-input css-17dn0h8" data-index="3" fdprocessedid="tyfzus">
        <input type="text" aria-label="Please enter your pin code" inputmode="text" id="pin-input-5-4" value="" autocomplete="off" placeholder="○" class="chakra-pin-input css-17dn0h8" data-index="4" fdprocessedid="hm2pi">
        <input type="text" aria-label="Please enter your pin code" inputmode="text" id="pin-input-5-5" value="" autocomplete="off" placeholder="○" class="chakra-pin-input css-17dn0h8" data-index="5" fdprocessedid="x9fe3g">
    </div>
    <form method="post" action="{% url 'reset-password' %}">
        {% csrf_token %}
        <input type="email" placeholder="New Password"><br>
        <button type="submit">Request Password Change</button>
    </form>
    <p>Didn't get the OTP?<a href="">Resend OTP</a></p>

</div>

{% endblock %}