{% extends 'header.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="products-page">
    <div class="left-pro">
        <a href="">{% trans "Home" %} > </a>
        <a href="">{% trans "All Products" %}</a>
    </div>
    <div class="wrap1">
        <div class="filter-card">
            <p class="category-title" id="categories">{% trans "Categories" %} <i class="fas fa-caret-down"></i></p>
            <div class="cat-dropdown" style="display: none;" >
                <ul>
                    {% for category in categories %}
                    <li><a href="{% url 'products_by_category' category.id %}" value="{{ category.id }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <p class="category-title">{% trans "Filter" %} <i class="fas fa-caret-down"></i></p>
        </div>
        <div class="all-products">
            <h2>{% trans "Products A-Z" %}</h2>
            <div class="products-container">
                {% for drug in page_obj %}
                <div class="drug">
                    <a href="{% url 'item-view' drug.id %}" class="drug-link">
                        <img src="{{ drug.image.url }}" alt="{{ drug.name }}">
                        <p class="med-name">{{ drug.name }}</p>
                        <p>{{ request.session.currency_symbol }}{{ drug.price }}</p>
                    </a>
                    <form action="{% url 'add-to-cart' drug.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">{% trans "Add to Cart" %}</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?{% if request.GET.q %}q={{ request.GET.q }}&{% endif %}{% if request.GET.category %}category={{ request.GET.category }}&{% endif %}page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
            {% endif %}
        </span>
    </div>

</div>


{% endblock %}