{% extends 'header.html' %}
{% load static %}

{% block content %}
<div class="services-page">
    <div class="contact-title">
        <h1>OUR SERVICES</h1>
        <p>As a pharma-tech company, all our services hang on using technology to provide pharmaceutical services especially the distribution and delivery of medication. As an online pharmacy, we make sure your drugs find you.</p>
    </div>
    <div class="services-line">
        <div>
            <h1 class="serveh1">Why Choose Us?</h1>
            <p>We put technology to good use for the benefit of your health. Get quality pharmaceutical care online and in seconds.</p>
            <ul>
                <li>Are you too busy to stop at the pharmacy?</li>
                <li>Do you find it difficult to get a particular drug or you have no knowledge about your medications?</li>
                <li>Perhaps you sometimes feel too lazy to visit the pharmacy?</li>
                <li>Maybe you are too shy to walk into a pharmacy to make purchases such as Condoms, Postinor, Lubricants etc.?</li>
            </ul>
            <p>We Have The Ultimate Solution. Bringing The Pharmacy To You.!</p>
        </div>
        <div>
            <img class="service-img" src="{% static 'images/nathaniel.jpg' %}" alt="">
        </div>        
    </div>
    <div class="services-line reverse">
        <div class="service-text">
            <h1 class="serveh1">Reliable Medication Delivery</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div>
            <img class="service-img" src="{% static 'images/national.jpg' %}" alt="">
        </div>        
    </div>
    <div class="services-line">
        <div class="service-text">
            <h1 class="serveh1">Certified Pharmacists within your reach</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div>
            <img class="service-img" src="{% static 'images/nathaniel-yeo.jpg' %}" alt="">
        </div>        
    </div>
    <div class="services-line reverse">
        <div class="service-text">
            <h1 class="serveh1">Geriatic Care</h1>
            <p>We take it a step further from pharmaceutical delivery. We cooperate with you to monitor your drug usage irrespective of where you are to track your improvement or advice to discontinue the medication following medical consultations with your doctor.</p>
        </div>
        <div>
            <img class="service-img" src="{% static 'images/hal-gatewood.jpg' %}" alt="">
        </div>        
    </div>
    <div class="services-line">
        <div class="service-text">
            <h1 class="serveh1">Dosage Monitoring For The Best Results</h1>
            <p>With Us, you are never out of medications. We provide easy access to pharmaceutical refills for continuity irrespective of where you are. Our app stores information concerning your medication and dosage and reminds you when you’re almost out. With just one easy click, you can get a refill wherever you may be.</p>
        </div>
        <div>
            <img class="service-img" src="{% static 'images/towfiqu.jpg' %}" alt="">
        </div>        
    </div>
    <div class="service-features">
        <div class="service-features-header">
            <h1 class="serveh1">Our Features</h1>
            <p>Our app is specially designed to give you the best user experience so you can get the best from Us</p>
        </div>
        <div class="service-features-list">
            <div class="service-features-item">
                <img src="{% static 'images/features/chat.svg' %}" alt="">
                <p>In-Built Chat Channel to chat with a Pharmacist</p>
            </div>
            <div class="service-features-item">
                <img src="{% static 'images/features/pay.svg' %}" alt="">
                <p>Easy Payment</p>
            </div>
            <div class="service-features-item">
                <img src="{% static 'images/features/history.svg' %}" alt="">
                <p>Medication History</p>
            </div>
            <div class="service-features-item">
                <img src="{% static 'images/features/photo.svg' %}" alt="">
                <p>Google Map Integrated Address System to Facilitate Delivery</p>
            </div>
            <div class="service-features-item">
                <img src="{% static 'images/features/reminders.svg' %}" alt="">
                <p>Refill Reminder and Auto-Refill</p>
            </div>
            <div class="service-features-item">
                <img src="{% static 'images/features/track.svg' %}" alt="">
                <p>Track Your Orders</p>
            </div>
            <div class="service-features-item">
                <img src="{% static 'images/features/chat.svg' %}" alt="">
                <p>Upload Picture of Prescription gotten from a Hospital</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}